body {
  margin: 3% 15%;
  box-sizing: border-box;
  background-image: url(./components/Images/Looping-location-pin-symbols.gif);
  background-size: cover;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* h1 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

h5 {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
} */

.imgDisplay {
  display: grid;
  grid-gap: 20px;
  margin: 10px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.4);
}

.imgGrid {
  height: 200px;
  opacity: 0.8;
  /* padding: 5% 0; */
  overflow: hidden;
  position: relative;
}

#imgFile {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

#mapView {
  position: absolute;
  margin-left: 200px !important;
}

#mapButtons {
  display: flex;
  flex-basis: 0;
  z-index: 1;
  position: absolute;
  margin-top: -250px;
  padding: 0 !important;
  justify-items: flex-start;
}
